$musicnotes-navy: #22313f;
$musicnotes-green-accent: #A2BC35;

$musicnotes-ocean: #0272B3;
$musicnotes-blue-accent: #CCE3F0;

$codecov-pink: #ff2468;
$codecov-blue: #0e2b61;

$activerain-blue: #5e95cb;
$activerain-orange: #ef9f30;

$itunes-red: #ff445b;
$itunes-blue: #60aaff;

$clarion-blue: #00ffff;
