<div class="expanded row collapse">

  <a href="{{root}}works/codecov.html" class="large-6 small-12 columns">
    <div class="project-thumb codecov">
      <div class="thumb-bg">

        <h3 class="project">{{codecov.name}}</h3>
        <h4 class="category">{{codecov.category}}</h4>

      </div>
    </div>
  </a>

  <a href="{{root}}works/musicnotes.html" class="large-6 small-12 columns">
    <div class="project-thumb musicnotes">
      <div class="thumb-bg">

        <h3 class="project">{{musicnotes.name}}</h3>
        <h4 class="category">{{musicnotes.category}}</h4>

      </div>
    </div>
  </a>

  <a href="{{root}}works/activerain.html" class="large-6 small-12 columns">
    <div class="project-thumb activerain">
      <div class="thumb-bg">

        <h3 class="project">{{activerain.name}}</h3>
        <h4 class="category">{{activerain.category}}</h4>

      </div>
    </div>
  </a>

  <a href="{{root}}works/itunes-redesign.html" class="large-6 small-12 columns">
    <div class="project-thumb itunes">
      <div class="thumb-bg">

        <h3 class="project">{{itunes.name}}</h3>
        <h4 class="category">{{itunes.category}}</h4>

      </div>
    </div>
  </a>

  <a href="{{root}}works/clarion.html" class="large-6 small-12 columns">
    <div class="project-thumb clarion">
      <div class="thumb-bg">

        <h3 class="project">{{clarion.name}}</h3>
        <h4 class="category">{{clarion.category}}</h4>

      </div>
    </div>
  </a>

  <a href="{{root}}works/logo-design.html" class="large-6 small-12 columns">
    <div class="project-thumb logos">
      <div class="thumb-bg">

        <h3 class="project">{{logo.name}}</h3>
        <h4 class="category">{{logo.category}}</h4>

      </div>
    </div>
  </a>

</div>
